<div class="address-search-component">
    <div class="form-group">
        <!--label>Street Address</label-->
        <input type="text" id="property-address" class="" ngModel="address" placeholder="Street Address">
        <!--label>City</label-->
        <input type="text" id="property-city" class="" ngModel="city" placeholder="City">
        <!--label>State</label-->
        <input type="text" id="property-state" class="" ngModel="state" placeholder="State">
        <!--label>Zip</label-->
        <input type="text" id="property-country" class="" ngModel="zip" placeholder="Zip Code">
        <input (click)="searchAddress()" type="submit" value="Search" class="btn btn-primary">
    </div>
</div>
